<footer>
    <div class="container grid-lg">
      <div class="columns">

        <div class="column col-lg-3 logos">
          <img src="/assets/images/YorkULogo_DIGITAL_Hor_RGB.png" alt="York University logo" class="york-logo">
        </div>

        <div class="column col-lg-3 logos">
          <img src="/assets/images/IRDL-Full.png" alt="IRDL logo">
        </div>

        <div class="column col-lg-3 logos">
          <img src="/assets/images/LAPS_York-Logo.jpeg" alt="York University logo">
        </div>

        <div class="column col-lg-3 logos">
          <img src="/assets/images/DJR_COLOUR_FULL.png" alt="York University logo" class="djcirc-logo">
        </div>

      </div>
    </div>
</footer>