<header class="navbar">
    <section class="navbar-section">
        <a href="/"><img class="logo" src="/assets/images/black_logo.png" alt=""></a>
        {% for item in site.data.navigation %}
            <a href="{{ item.link }}" 
            {% if page.url == item.link %} 
                class="btn btn-link current" 
            {% else %}
                class="btn btn-link" 
            {% endif %}
            >
                {{ item.name }}
            </a>
        {% endfor %}
    </section>
</header>
