<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  </head>
  <body id="bw">
    {% include navigation.html %}
  
    <div class="body container grid-lg">
      <div class="columns">
        <div class="column col-lg-12 col-md-12 col-sm-12">
          {% if page.url != "/" %}
          <h6><a href="/" class="home"><< Back</a></h6>
          {% endif %}

          {{ content }}
        </div>
      
      </div>
    </div>
    
    {% include footer.html %}
  </body>
</html>